{{ define "main" }}

<section class="page-title overlay bg-cover" data-background="{{ .Params.BgImage | absURL}}">
  <div class="container py-50">
    <div class="row">
      <div class="col-12 text-left">
        <!-- <h1 class="display-1 text-white font-weight-bold font-primary-bold">{{ .Title | upper | markdownify }}</h1> -->
      </div>
    </div>
  </div>
</section>


{{ with .Site.Data.fourVFilms.the4VModel }}
<section class="4v-model py-50 bg-white">
  <div class="container my-0">
    <div class="row">
      <div class="col-12 mx-auto text-center">
        <h2 class="section-title">{{ .title }}</h2>
          <hr class="orange-line mt-4">
      </div>
    </div>
    <div class="row my-0">
      <div class="col-12 text-center">
        <h5 class="mt-5 mt-sm-0">{{ .subtitle }}</h5>
      </div>
      <div class="col-12 my-0">
        <div class="video justify-content-bottom align-items-center text-center d-flex flex-column">
          <video controls="" width="100%" height="350">
            <source src="{{ .videoURL | absURL }}" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.Data.fourVFilms.ModelKeys }}
<section class="py-50 bg-secondary">
  <div class="container">
    <div class="col-lg-12 mx-auto text-center">
      <h2 class="section-title text-white">{{ .title }}</h2>
      <hr class="orange-line mt-4">
    </div>
    <div class="row">
      <div class="col-lg-12 header-image text-center mt-5">
        <img class="" src="{{ .diagramURL | absURL }}" alt="">
      </div>
    </div>
    <div class="row py-50">
      <div class="col-sm-7 model d-flex align-items-center">
        <img src="{{ .modelURL | absURL }}" alt="">
      </div>
      <div class="col-sm-5 model d-flex align-items-center">
        <ul class="list pl-2">
          <li class="text-white mb-4">Before we take on any project, understanding theclients vision and their values is essential. We do this through a FREE consultationwhich you can book with us here.</li>
          <li class="text-white mb-4">Before we take on any project, understanding theclients vision and their values is essential. We do this through a FREE consultationwhich you can book with us here.</li>
          <li class="text-white mb-4">Before we take on any project, understanding theclients vision and their values is essential. We do this through a FREE consultationwhich you can book with us here.</li>
          <li class="text-white mb-4">Before we take on any project, understanding theclients vision and their values is essential. We do this through a FREE consultationwhich you can book with us here.</li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</section>
{{ end }}


{{- partial "cta.html" . -}}

{{- partial "testimonials-slider.html" . -}}

{{- partial "book-my-spot.html" . -}}

{{ end }}