{{ define "main" }}
{{ with .Site.Data.digital_impact_accelerator.hero }}
<!-- Hero -->
<section class="page-title overlay bg-cover" data-background="{{ $.Params.bgImage | absURL }}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-1 text-white font-weight-bold font-primary-bold">{{ .title | markdownify }}</h1>
      </div>
    </div>
  </div>
</section>
{{ end }}


{{ with .Site.Data.digital_impact_accelerator.digitalImpactMethod }}
<section class="bg-secondary py-50">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 video">
        <!-- <h4 class="text-white">The Digital Impact Accelerator transforms a small businesses online presence over 6 months, following our impact method above. Here’s how we do it.</h4> -->
        <h4 class="text-white text-center">{{ .discriptionLine1 }}</h4>
        <h4 class="text-white mt-4 text-center">{{ .discriptionLine2 }}</h4>
        <div class="mt-3">
          <!-- <h5><span class="text-primary">Quality : </span><span class="text-white">Professional crew, gear and experience</span></h5>
          <h5><span class="text-primary">Value : </span><span class="text-white">Creating 150 content pieces around the 4 pillarsof value</span></h5>
          <h5><span class="text-primary">Consistency : </span><span  class="text-white">Scheduling and Publishing SoMe team for 6 months</span></h5> -->
          <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="{{ .videoURL }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="{{ .discriptionLine1 }}"></iframe></div>
          <a href="{{ .button.url | absURL }}" target="_blank" class="mt-5 d-block mx-auto btn btn-orange">{{ .button.label }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

<!-- digital_impact -->
{{ with .Site.Data.digital_impact_accelerator.DigitalImpact }}
<section class="digital-impact py-50 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mx-auto text-center">
        <h2 class="section-title">{{ .title }}</h2>
        <hr class="orange-line mt-4">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-6">
        <h5 class="mt-4 mb-3">{{ .subtitle }}</h5>
        <ul class="list  mx-auto">
          <li class="list-item text-black">Quality</li>
          <li class="list-item text-black">Value </li>
          <li class="list-item text-black">Consistency </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <img src="/images/digital-impact-service.png" alt="digital-impact-service"  loading="lazy">
      </div>
    </div>
    <div class="row mt-4 justify-content-center">
      <div class="col-sm-8">
        <h4 class="mt-5 mb-3 text-center">{{ .secondTitle }}</h4>
        <ul class="list mx-auto">
          {{ range .listItems }}
          <li class="list-item text-black width-fitcontent mr-auto ml-auto">{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
    <!-- <p class="mt-5 text-white">{{ .discription }}</p> -->
  </div>
</section>
{{ end }}
<!-- 4 Pillars -->
{{ with .Site.Data.digital_impact_accelerator.pillars }}
<section class="pillars py-50 overlay bg-cover" data-background="{{ .bgImage | absURL }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <h2 class="section-title text-white">{{ .title }}</h2>
        <hr class="orange-line mt-4">
        <h4 class="mt-5 mb-3 text-white">{{ .subtitle }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7">
        {{ range .listItem }}
        <div class="pillar-keys">
          <h5 class="text-white pillar-title">{{ .title }} <span class="text-primary"> '{{ .highlighted }}'</span>.</h5>
          <ul class="list">
            <li class="text-white">{{ .content }}</li>
          </ul>
        </div>
        {{ end }}
      </div>
      <div class="col-sm-5 text-center video">
        <div>
          <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="{{ .videoURL }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="{{ .title }}"></iframe></div>
          <!-- <iframe height="315" src="{{ .videoURL }}" title="{{ .title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   -->
          <a href="{{ .button.url | absURL }}" target="_blank" class="mt-5 d-block mx-auto btn btn-orange">{{ .button.label }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

<!-- for small brands -->
{{ with .Site.Data.digital_impact_accelerator.impactAccelerator }}
<section class="bg-white py-50">
  <div class="container">
    <div>
      <h4 class="text-center mb-5">{{ .title }}</h4>
      <ul class="list">
        {{ range .listItems }}
        <li class="list-item mb-4">{{ . }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>
{{ end }}

<!-- WHAT DO I GET? -->
<!-- {{ with .Site.Data.digital_impact_accelerator.whatDoIGet }} -->
<section class="py-50 overlay whatDoIGet bg-cover" data-background="{{ .bgImage | absURL }}">
  <div class="container">
    <div class="row m-5">
      <div class="col-sm-12 mx-auto text-center">
        <h2 class="section-title text-white">WHAT DO I GET?</h2>
        <hr class="orange-line mt-4">
        <h3 class="text-white mt-5">YOUR 6 MONTH TRANSFORMATION</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 mt-4">
        <h3 class="title">1 MONTH</h3>
        <div class="row">
          <div class="col-sm-4 mt-4">
            <div class="wrapper">
              <h3>PRE PRODUCTION</h3>
              <div class="divider"></div>
              <h4 class="subtitle">
                90 minutes vision session
              </h4>
              <ul class="list mt-3">
                <li class="list-item">Run down of production</li>
                <li class="list-item">Workbook introduction</li>
              </ul>
              <img src="/images/icons/Plus.png" class="mb-4 plus-icon" alt="" srcset="">
              <h4 class="subtitle">Client Preperation</h4>
              <ul class="list mt-3">
                <li class="list-item">Script writing</li>
                <li class="list-item">Following workbook</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 mt-4">
            <div class="wrapper">
              <h3>PRODUCTION</h3>
              <div class="divider"></div>
              <h4 class="subtitle">People</h4>
              <ul class="list mt-3">
                <li class="list-item">Founder Interviews</li>
                <li class="list-item">Team Interviews</li>
                <li class="list-item">B-Roll</li>
                <li class="list-item">Headshots</li>
              </ul>
              <img src="/images/icons/Plus.png" class="mb-4 plus-icon" alt="" srcset="">
              <h4 class="subtitle">Purpose</h4>
              <ul class="list mt-3">
                <li class="list-item">Values video</li>
                <li class="list-item">Vision and mission video</li>
              </ul>
              <img src="/images/icons/Plus.png" class="mb-4 plus-icon" alt="" srcset="">
              <h4 class="subtitle">Product</h4>
              <ul class="list mt-3">
                <li class="list-item">Promo video</li>
                <li class="list-item">B-Roll</li>
                <li class="list-item">Photography</li>
              </ul>
              <img src="/images/icons/Plus.png" class="mb-4 plus-icon" alt="" srcset="">
              <h4 class="subtitle">Proof</h4>
              <ul class="list mt-3">
                <li class="list-item">Up to 10 Face to cam videos</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 mt-4">
            <div class="wrapper">
              <h3>POST PRODUCTION</h3>
              <div class="divider"></div>
              <h4 class="subtitle">Video Editing</h4>
              <ul class="list mt-3">
                <li class="list-item">Macro Micro</li>
                <li class="list-item">B-Roll Videos</li>
              </ul>
              <img src="/images/icons/Plus.png" class="mb-4 plus-icon" alt="" srcset="">
              <h4 class="subtitle">Photo Editing</h4>
              <ul class="list mt-3">
                <li class="list-item">Headshots</li>
                <li class="list-item">In - action shots</li>
              </ul>
              <img src="/images/icons/Plus.png" class="mb-4 plus-icon" alt="" srcset="">
              <h4 class="subtitle">Graphic Design</h4>
              <ul class="list mt-3">
                <li class="list-item">Quotes</li>
                <li class="list-item">Statistics</li>
                <li class="list-item">Motion Graphics</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <h3 class="title">5 MONTHS</h3>
        <div class="row">
          <div class="col-sm-12 mt-4">
            <div class="wrapper">
              <h3>SOCIAL MEDIA GROWTH</h3>
              <div class="divider"></div>
              <h4 class="subtitle">Scheduling team</h4>
              <ul class="list mt-3">
                <li class="list-item">Content calendar</li>
              </ul>
              <img src="/images/icons/Plus.png" class="mb-4 plus-icon" alt="" srcset="">
              <h4 class="subtitle">Publishing team</h4>
              <ul class="list mt-3">
                <li class="list-item">Posting your content for you</li>
                <li class="list-item">Monthly analysis reports</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- {{ end }} -->

<!-- WHAT DOES IT MEAN? -->
{{ with .Site.Data.digital_impact_accelerator.whatDoesItMean }}
<section class="py-50 bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto text-center">
        <h2 class="section-title text-white">{{ .title }}</h2>
        <hr class="orange-line mt-4">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list mt-5 mb-5">
          {{ range .listItems }}
          <li class="list-item text-white">{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 high-quality-content">
        <h4 class="mt-5 mb-3 text-white text-center font-weight-normal">{{ .subtitle.text }} <span class="text-primary font-weight-bold">{{ .subtitle.highlighted }}</span></h4>
        <!-- <div class="row my-3">
            <div class="col-md-6 col-sm-7 col-12 mb-0">
              <ul class="list">
                {{ range .recommendedList.listItems }}
                <li class="list-item mb-4 text-white"> <strong class="text-primary">{{ .highlited }}</strong>{{ .text }}</li>
                {{ end }}
              </ul>
            </div>
            <div class="col-md-4 col-sm-5 d-flex justify-content-left align-items-center">
              <svg width="20" height="70" viewBox="0 0 20 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 69.9207L0 60.4765C1.93772 60.7303 3.34487 60.5272 4.22145 59.8672C5.14418 59.2071 5.60554 57.8362 5.60554 55.7544L5.60554 44.4823C5.60554 39.8617 6.98962 36.6883 9.75779 34.9619C6.98962 33.2863 5.60554 30.1383 5.60554 25.5177L5.60554 14.2456C5.60554 12.1638 5.14418 10.7929 4.22145 10.1328C3.34487 9.47275 1.93772 9.26965 0 9.52353L0 0.0793361C9.68858 -0.682292 14.5329 4.03981 14.5329 14.2456V25.5177C14.5329 27.5995 14.9712 28.9451 15.8478 29.5544C16.7243 30.1637 18.1084 30.3921 20 30.2398V39.7602C18.1084 39.6078 16.7243 39.8363 15.8478 40.4456C14.9712 41.0549 14.5329 42.4005 14.5329 44.4823L14.5329 55.7544C14.5329 65.9602 9.68858 70.6823 0 69.9207Z" fill="white"/>
              </svg>
              <div class="label text-primary">{{ .recommendedList.title }}</div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-6 col-sm-7 col-12 mb-0">
              <ul class="list">
                {{ range .averageList.listItems }}
                <li class="list-item mb-4 text-white"> <strong class="text-primary">{{ .highlited }}</strong>{{ .text }}</li>
                {{ end }}
              </ul>
            </div>
            <div class="col-md-4 col-sm-5 col-12 d-flex justify-content-left align-items-center">
              <svg width="20" height="70" viewBox="0 0 20 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 69.9207L0 60.4765C1.93772 60.7303 3.34487 60.5272 4.22145 59.8672C5.14418 59.2071 5.60554 57.8362 5.60554 55.7544L5.60554 44.4823C5.60554 39.8617 6.98962 36.6883 9.75779 34.9619C6.98962 33.2863 5.60554 30.1383 5.60554 25.5177L5.60554 14.2456C5.60554 12.1638 5.14418 10.7929 4.22145 10.1328C3.34487 9.47275 1.93772 9.26965 0 9.52353L0 0.0793361C9.68858 -0.682292 14.5329 4.03981 14.5329 14.2456V25.5177C14.5329 27.5995 14.9712 28.9451 15.8478 29.5544C16.7243 30.1637 18.1084 30.3921 20 30.2398V39.7602C18.1084 39.6078 16.7243 39.8363 15.8478 40.4456C14.9712 41.0549 14.5329 42.4005 14.5329 44.4823L14.5329 55.7544C14.5329 65.9602 9.68858 70.6823 0 69.9207Z" fill="white"/>
              </svg>
              <div class="label-white text-white">{{ .averageList.title }}</div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-6 col-sm-7 col-12 mb-0">
              <ul class="list">
                {{ range .weakList.listItems }}
                <li class="list-item mb-4 text-white"> <strong class="text-primary">{{ .highlited }}</strong>{{ .text }}</li>
                {{ end }}
              </ul>
            </div>
            <div class="col-md-4 col-sm-5 col-12 d-flex justify-content-left align-items-center">
              <svg width="20" height="70" viewBox="0 0 20 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 69.9207L0 60.4765C1.93772 60.7303 3.34487 60.5272 4.22145 59.8672C5.14418 59.2071 5.60554 57.8362 5.60554 55.7544L5.60554 44.4823C5.60554 39.8617 6.98962 36.6883 9.75779 34.9619C6.98962 33.2863 5.60554 30.1383 5.60554 25.5177L5.60554 14.2456C5.60554 12.1638 5.14418 10.7929 4.22145 10.1328C3.34487 9.47275 1.93772 9.26965 0 9.52353L0 0.0793361C9.68858 -0.682292 14.5329 4.03981 14.5329 14.2456V25.5177C14.5329 27.5995 14.9712 28.9451 15.8478 29.5544C16.7243 30.1637 18.1084 30.3921 20 30.2398V39.7602C18.1084 39.6078 16.7243 39.8363 15.8478 40.4456C14.9712 41.0549 14.5329 42.4005 14.5329 44.4823L14.5329 55.7544C14.5329 65.9602 9.68858 70.6823 0 69.9207Z" fill="white"/>
              </svg>
              <div class="label-white text-white">{{ .weakList.title }}</div>
            </div>
        </div> -->
      </div>
        <div class="col-12">
          <h4 class="mt-5 mb-3 text-white text-center">{{ .bottomDiscription }}</h4>
          <div class="text-center">
            <a href="{{ .button.url | absURL }}" target="_blank" class="mt-5 btn btn-orange">{{ .button.label | safeHTML }}</a>
          </div>
        </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}