.sucess-stories {
    min-height: 480px;
    width: 100%;
    .video {
        img {
            min-height: 480px;
            width: 100%;
        }
    }
    .queot {
        background: $secondary-color;
        min-height: 420px;
        padding: 30px;
        @include tablet{
            min-height: unset;
        }
        h3 {
            font-size: 20px;
            text-align: right;
        }
        .q-text {
            width: 60%;
            margin: 0 auto;
            @include desktop-el{
              width: 80%;
            }
            h3 {
                text-align: center;
            }
        }
    }
    p {
        font-weight: bold;
        color: $primary-color;
        text-align: center;
        font-size: 18px;
        margin-top: 15px;
    }
        
}

#sucess-stories-slider {
    .queot {
        @media(max-width:650px){
            min-height: 100%;
        }
    }
}