.sucess-stories {
    min-height: 480px;
    width: 100%;
    .video {
        img {
            min-height: 480px;
            width: 100%;
        }
    }
    .queot {
        background: $secondary-color;
        min-height: 480px;
        padding: 30px;
        h3 {
            font-size: 24px;
            text-align: right;
        }
        .q-text {
            width: 70%;
            margin: 0 auto;
            @include desktop-el{
              width: 80%;
            }
            h3 {
                text-align: center;
            }
        }
    }
    p {
        font-weight: bold;
        color: $primary-color;
        text-align: center;
        font-size: 18px;
        margin-top: 25px;
    }
    .q-icon {
      @include desktop-el {
        &.float-right {
          margin-top: -25px;
       }
      }
    }
        
}