{{ define "main" }}
{{ with .Site.Data.project.hero }}
  {{ partial "hero.html" . }}
{{ end }}
<!-- project -->
<section class="section project-list bg-secondary">
  <div class="container">
    <div class="row">
      {{ range (where  .Site.RegularPages "Section" "projects") }}
      <div class="col-lg-6 col-sm-6 my-4 px-4">
        {{- partial "card.html" . -}}
      </div>
    {{ end }}
    </div>
  </div>
</section>
<!-- /project -->

<!-- testimonials -->
<section class="client section">
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto mb-5 text-center">
        <h2 class="section-title">Success Stories</h2>
        <hr class="orange-line mt-4">
      </div>
    </div>
    <div class="row">
      <div class="col-6  mb-5 ">
        <video controls width="100%" height="350">
          <source src="/video/Showreel.mp4" type=video/mp4>
        </video>
      </div>
      <div class="col-6  mb-5 ">
        <video controls width="100%" height="350">
          <source src="/video/Showreel.mp4" type=video/mp4>
        </video>
      </div>
      <div class="col-6  mb-5 ">
        <video controls width="100% "height="350">
          <source src="/video/Showreel.mp4" type=video/mp4>
        </video>
      </div>
      <div class="col-6  mb-5 ">
        <video controls width="100%"height="350">
          <source src="/video/Showreel.mp4" type=video/mp4>
        </video>
      </div>
    </div>
  </div>
</section>
<!-- cta -->
{{ if .Site.Data.project.cta.enable }}
{{ partial "cta2.html" . }}
{{ end }}

<!-- {{ if .Site.Data.project.clientsLogo.enable }}
{{ partial "clients-logo.html" . }}
{{ end }} -->

{{ end }}