{{ define "main" }}
{{ with .Site.Data.project.hero }}
  {{ partial "hero.html" . }}
{{ end }}
<!-- project -->
<section class="section project-list bg-secondary">
  <div class="container">
    <div class="row">
      {{ range (where  .Site.RegularPages "Section" "projects") }}
      <div class="col-lg-6 col-sm-6 my-4 px-4">
        {{- partial "card.html" . -}}
      </div>
    {{ end }}
    </div>
  </div>
</section>
<!-- /project -->

{{ if .Site.Data.project.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

<!-- {{ if .Site.Data.project.clientsLogo.enable }}
{{ partial "clients-logo.html" . }}
{{ end }} -->

{{ end }}