{{ define "main" }}
{{ with .Site.Data.project.hero }}
<section class="banner bg-cover overlay position-relative h-100 d-flex justify-content-center align-items-center"
data-background="/images/backgrounds/home-service.png">
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="hero-title mb-5 text-white font-primary-bold">{{ .title | markdownify }}</h1>
      <p class="hero-description text-white">{{ .description | markdownify}}</p>
    </div>
  </div>
</div>
</section>
{{ end }}
<!-- project -->
<section class="section project-list bg-secondary">
  <div class="container">
    <div class="row">
      {{ range (where  .Site.RegularPages.ByDate.Reverse "Section" "projects") }}
      <div class="col-lg-6 col-sm-6 my-4 px-4">
        {{- partial "card.html" . -}}
      </div>
    {{ end }}
    </div>
  </div>
</section>
<!-- /project -->

{{ with .Site.Data.testimonials.queots }}
<!-- testimonials -->
<section class="client section">
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto mb-5 text-center">
        <h2 class="section-title">Success Stories</h2>
        <hr class="orange-line mt-4">
      </div>
    </div>
    <div class="row">
      {{ range .items }}
      <div class="col-sm-6 mb-5 ">
        <div class="testimonials">
          <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="{{ .video | absURL }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="{{ .companyName }}"></iframe></div>
          <!-- <iframe src="{{ .video | absURL }}" width="100%" title="{{ .companyName }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<script src="https://player.vimeo.com/api/player.js" defer></script>
{{ end }}
<!-- cta -->
{{ if .Site.Data.project.cta.enable }}
{{ partial "cta2.html" . }}
{{ end }}

{{ if .Site.Data.project.clientsLogo.enable }}
{{ partial "clients-logo.html" . }}
{{ end }}

{{ end }}