{{ define "main" }}

<!-- page-title -->
<section class="page-title bg-cover bg-secondary project-hero-py" >
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-primary-bold">{{ .Title | markdownify }}</h1>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto video">
        <div>
          {{ if .Params.video_url }}
            {{ $s := .Params.video_url | string }}
            {{ $d := split $s "/"}}
            {{ if .Params.video_url }}
            <lite-vimeo videoid="{{ range last 1 $d }}{{.}}{{end}}" data-background="{{ .Params.thumbnail | absURL }}">
              <div class="ltv-playbtn"></div>
            </lite-vimeo>
            {{ end }}
          {{ end }}
          <div class="content mt-5">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ partial "cta2.html" . }}
{{ end }}