{{ define "main" }}

<!-- page-title -->
<section class="page-title bg-cover bg-secondary" >
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-primary-bold">{{ .Title | markdownify }}</h1>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto video">
        {{ if .Params.video_url }}
        <video
          id="vid1"
          class="video-js mt-5 vjs-default-skin"
          height="460"
          data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "{{ .Params.video_url | absURL }}", "title": "{{.Title}}"}]}'
        >
        </video>
        {{ end }}
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}