// Color Variables
$primary-color: #FD6B60;
$secondary-color: #2C3365;
$text-color: #6c6c86;
$text-color-dark: #131415;
$body-color: #fff;
$border-color: #d2d2e2;
$black: #131415;
$white: #fff;
$light: #b7b8f1;
$bronze: #D79A59;
$silver: #A8A7AE;
$golden: #DCAA39;
$primary-gradient: linear-gradient( 37deg, rgb(180,62,121) 1%, rgb(247,70,58) 100%);


// Font Variables
$primary-font: 'Gilroy', sans-serif;
$primary-font-bold: 'Gilroy-Bold', sans-serif;
$secondary-font: 'Gilroy', sans-serif;
$icon-font: 'themify';