{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- blog -->
<section class="section bg-secondary">
  <div class="container">
    <div class="row">
      {{ range .Data.Pages.ByDate.Reverse }}
      <div class="col-md-6 my-4 px-4">
        <a href="{{ .Permalink }}" class="">
          <article class="card my-card border-radius card-hover">
            <img src="{{ .Params.Image | absURL }}"  loading="lazy" alt="{{ .Title }}">
            <div class="card-body text-left">
              <p class="">{{ .PublishDate.Format "January 02, 2006" }}</p>
              <h4 class="">{{ .Title }}</h4>
            </div>
          </article>
        </a>
      </div>
      {{ end }}
      <dic class="col-12 my-5">
        <a class="nav-link btn btn-orange m-auto" href="#">More</a>
      </dic>
    </div>
  </div>
</section>
<!-- /blog -->

{{ end }}