
{{ define "main" }}

<section class="banner bg-cover overlay position-relative h-100 d-flex justify-content-center align-items-center">
  <div class="position-absolute"> 
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-8 text-center">
        <h1 class="text-white hero-title">Showreel</h1>
        <h4 class="page-subtitle text-white  mb-5">4V Films is a full service, video production house with a wealth of global experience and knowledge of different industries - based in Copenhagen.</h4>
        <a class="nav-link btn btn-orange m-auto" href="#">LET'S TALK</a>
        </div>
      </div>
    </div>
  </div>
</section>
  
{{ end }}