{{ define "main" }}
{{ with .Site.Data.our_vision.hero }}
<section class="page-title overlay bg-cover" data-background="{{ $.Params.bgImage | absURL }}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-left">
        <h1 class="display-1 text-white font-primary-bold">{{ .title | markdownify }}</h1>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ with .Site.Data.our_vision.History }}
<section class="bg-white py-50">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 mx-auto text-center">
        <h2 class="section-title">{{ .title }}</h2>
        <hr class="orange-line mt-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div>
      <div class="row">
        <div class="col-sm-6">
          <div class="">
            {{ range .content }}
            <p>{{ . }}</p>
            {{ end }}
          </div>
        </div>
        <div class="col-sm-6">
          <div>
            <img class="w-100" src="{{ .imageURL | absURL }}" alt="{{ .author }}">
            <p class="font-weight-bold mt-3">"{{ .quote }}" – {{ .author }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.Data.our_vision.VisionAndMission }}
<section class="py-50 overlay bg-cover" data-background="{{ .bgImage | absURL }}">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto text-center">
        <h2 class="section-title text-white">{{ .title }}</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex mb-5 justify-content-center align-items-center">
      <div class="col-sm-8 order-sm-1 order-3">
        {{ $.Scratch.Set "counter" 0 }}
        {{ range .vision.description }}
        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        {{ $counter := $.Scratch.Get `counter`}}
        <h4 class="text-white pt-sm-50 {{ if eq $counter 1 }} mb-5 mb-sm-0 {{ end }}">{{ . }}</h4>
        {{ end }}
      </div>
      <div class="col-sm-4 text-center order-2">
        <h1 class="text-white production-company">{{ .vision.title }}</h1>
        <img src="{{ .vision.imgURL | absURL }}" alt="{{ .vision.title }}">
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-4 text-center">
        <h1 class="text-white production-company">{{ .mission.title }}</h1>
        <img src="{{ .mission.imgURL | absURL }}" alt="{{ .mission.title }}">
      </div>
      <div class="col-sm-8 ">
        {{ $.Scratch.Set "counter" 0 }}
        {{ range .mission.description }}
        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        {{ $counter := $.Scratch.Get `counter`}}
        <h4 class="text-white pt-sm-50 {{ if eq $counter 1 }} mb-5 mb-sm-0 {{ end }}">{{ . | markdownify }}</h4>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.Data.our_vision.features }}
<section class=" py-50 bg-secondary">
  <div class="container">
    <div class="col-lg-12 mx-auto my-0 text-center">
      <h2 class="section-title text-white">{{ .title }} <span class="text-primary"> {{ .highlighted }}</span></h2>
      <hr class="orange-line mt-4">
      <h4 class="mt-5 mb-3 text-white text-center">{{ .subtitle }}</h4>
      <hr class="white-line mt-4">
    </div>
    <div class="row my-0 py-0">
      <div class="col-lg-12 my-0 py-0">
        <h4 class="mt-5 mb-3 text-white text-center">{{ .insight.title }}</h4>
        <ul class="list mt-5 mb-5">
          {{ range .insight.items }}
          <li class="list-item mb-3 text-white"><h5 class="text-primary font-weight-bold">{{ .title }}: </h4><h5 class="text-white font-weight-normal">{{ .content }}</h5></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{- partial "cta.html" . -}}

{{- partial "testimonials-slider.html" . -}}

<!-- {{- partial "book-my-spot.html" . -}} -->


{{ end }}