<section class="content py-50 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto my-0 p-0">
        <div class="bg-cover mx-auto py-50 justify-content-center align-items-center bg-secondary text-center d-flex flex-column">
          <h4 class="text-white">Interested in working with us?</h4>
          <h5 class="text-white">(Valued at 750 DKK)</h5>
          <h5 class="text-white">Book a meeting that fits your schedule below</h5>
          <a href="#" class="btn mt-5 mb-0 btn-orange text-center">BOOK NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>
