<!-- client -->
<section class="client section">
  <div class="container">
    <div class="col-12 mx-auto mb-5 text-center">
      <h2 class="section-title">Our Clients</h2>
      <hr class="orange-line mt-4">
    </div>
    <div class="row my-5 justify-content-center">
      <div class="my-col">
        <img src="/images/clients/audi.png" alt="">
      </div>
      <div class="my-col">
        <img src="/images/clients/live.png" alt="">
      </div>
      <div class="my-col">
        <img src="/images/clients/bmw.png" alt="">
      </div>
      <div class="my-col">
        <img src="/images/clients/female-leadership.png" alt="">
      </div>
      <div class="my-col">
        <img src="/images/clients/bike-buddies.png" alt="">
      </div>
      <div class="my-col">
        <img src="/images/clients/glostrup-park-hotel.png" alt="">
      </div>
      <div class="my-col">
        <img src="/images/clients/zealand.png" alt="">
      </div>
      <div class="my-col">
        <img src="/images/clients/cbs.png" alt="">
      </div>
      <div class="my-col">
        <img src="/images/clients/blue-lobster.png" alt="">
      </div>
      <div class="my-col">
        <img src="/images/clients/carlsberg.png" alt="">
      </div>
    </div>
  </div>
</section>
