{{ with .Site.Data.homepage.cta }}
<section class="cta section bg-primary-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <img src="/images/4vHeadshots.jpg" alt="" loading="lazy">
        <h2 class="mt-5 text-center">If you’d like to talk to us about a project you can contact Patrick Bates on <span><a href="tel:+4520666915">+45 20 66 69 15</a></span></h2>
        {{ with .button }}
        <a href="https://4vfilms.appointlet.com/s/30mintuesfree/patrick-bates-founder-of-4v-films" target="_blank" class="d-block mt-5 mx-auto btn btn-orange">book your free, first meeting</a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}