{{ with .Site.Data.homepage.cta }}
<section class="cta section bg-primary-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <img src="/images/4vHeadshots.jpg" alt="">
        <h2 class="mt-5 text-center">If you’d like to talk to us about a project you can contact Abc on <span><a href="#">+1 1234-567-890</a></span></h2>
        {{ with .button }}
        <a href="#" class="d-block mt-5 mx-auto btn btn-orange">book your free, first meeting</a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}