<section class="banner bg-cover overlay position-relative h-100 d-flex justify-content-center align-items-center"
 data-background="{{ .BGImage | absURL }}">
 <div class="container">
   <div class="row">
     <div class="col-sm-8">
       <h1 class="hero-title mb-5 text-white">OUR PROJECTS</h1>
       <p class="hero-description text-white">
        We have worked with 15+ industries around the world and on a variety of different projects. Check out some of our recent projects below. 
       </p>
     </div>
   </div>
 </div>
</section>