<section class="banner bg-cover overlay position-relative h-100 d-flex justify-content-center align-items-center"
 data-background="{{ .BGImage | absURL }}">
 <div class="container">
   <div class="row">
     <div class="col-sm-8">
       <h1 class="hero-title mb-5 text-white">Our projects</h1>
       <p class="hero-description text-white">
         Our service transforms brands. 4V films has been built around the instinct to provide thegreatest possible value to our clients. 
       </p>
     </div>
   </div>
 </div>
</section>