<!-- page-title -->
<section class="page-title overlay bg-cover thanks_page" data-background="{{ .Params.BgImage | absURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <!-- <h1 class="display-1 text-white font-weight-bold font-primary-bold">{{ .Title | markdownify }}</h1> -->
        <h1 class="thanks_cls text-white"><b><span>Thank you</span> for your interest!</b><br>
        <span class="unbold_cls">You will hear from us shortly.</span></h1>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->