{{ define "main" }}

<!-- banner -->
{{ with .Site.Data.homepage.banner }}
<section class="banner bg-cover position-relative h-100 d-flex justify-content-center align-items-center">
  <video class="hero-bg lazy" autoplay loop playsinline muted poster="{{ .bgImage | absURL }}">
    <source src="{{ .videoURL | absURL }}" type="video/mp4">
  </video>
  <div class="position-absolute">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-8 col-sm-12 text-center">
          <!-- <h1 class="text-white hero-title">{{ .title }}</h1> -->
          <h4 class="page-subtitle text-white  mb-5">{{ .title }}</h4>
          <a class="nav-link btn btn-orange m-auto" href="{{ .button.url }}">{{ .button.label }}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Video Header</h1>
        <p class="lead mb-0">With HTML5 Video and Bootstrap 4</p>
      </div>
    </div>
  </div> -->
</section>
{{ end }}
<!-- /banner -->

{{ if .Site.Data.homepage.service.enable }}
<!-- service -->
<section class="section bg-cover overlay" data-background="{{ .Site.Data.homepage.service.BgImage | absURL }}">
  <div class="container">
    <div class="row">
      {{ with .Site.Data.homepage.service }}
      <div class="col-lg-12 mx-auto text-center">
        <h2 class="section-title w-bold text-white">{{ .title | markdownify }}</h2>
        <hr class="orange-line mt-4">
      </div>
      {{ end }}
    </div>
    <!-- <div class="row py-50">
      {{ with .Site.Data.homepage.service.fourv_films }}
      <div class="col-sm-6 bg-cover bg-services bg-cover d-flex justify-content-center flex-column" data-background="{{ .imgURL | absURL }}">
        <div class="overlay2-primary">
        </div>
        <img src="{{ .logoURL | absURL }}" alt="" class="service-logo">
          
      </div>
          
        <div class="col-sm-6 pt-sm-50 px-50">
          <h2 class="services-title mb-4">{{ .title | markdownify }}</h2>
          <h3 class="services-subtitle mb-4">{{ .subtitle | markdownify }}</h3>
          <p class="services-description mb-4">{{ .description | markdownify }}</p>
          <a href="{{ .button.url | absURL }}" class="btn btn-orange mb-4">{{ .button.label }}</a>
        </div>
        {{ end }}
    </div> -->

    <div class="row mt-5">
      {{ with .Site.Data.homepage.service.strategy_session }}
      <div class="col-sm-4 d-flex justify-content-center flex-column">
        <img src="{{ .logoURL | absURL }}" loading = lazy alt="" class="service-logo strategy-session">
        <a href="{{ .button.url | absURL }}" class="btn btn-orange mt-5 mr-auto ml-auto">{{ .button.label }}</a>
      </div>
      {{ end }}

      {{ with .Site.Data.homepage.service.perfect_solution }}
      <div class="col-sm-4 d-flex justify-content-center flex-column">
        <img src="{{ .logoURL | absURL }}" loading = lazy alt="" class="service-logo">
        <a href="{{ .button.url | absURL }}" class="btn btn-orange mt-5 mr-auto ml-auto">{{ .button.label }}</a>
      </div>
      {{ end }}
      {{ with .Site.Data.homepage.service.fourv_plus }}
      <div class="col-sm-4 d-flex justify-content-center flex-column">
        <!-- <div class="service-logo" data-background="{{ .logoURL | absURL }}">
          </div> -->
        <img src="{{ .logoURL | absURL }}" loading = lazy alt="" class="service-logo">
        <a href="{{ .button.url | absURL }}" class="btn btn-orange mt-5 mr-auto ml-auto">{{ .button.label }}</a>
      </div>
      {{ end }}

    <!-- <div class="row py-50">
      {{ with .Site.Data.homepage.service.fourv_plus }}
        <div class="col-sm-6 bg-cover bg-services bg-cover d-flex justify-content-center flex-column" data-background="{{ .imgURL | absURL }}">
          <div class="overlay2-primary">
          </div>
          <img src="{{ .logoURL | absURL }}" loading = lazy alt="" class="service-logo">
        </div>
        <div class="col-sm-6 px-50">
          <h2 class="services-title mb-4">{{ .title | markdownify }}</h2>
          <h3 class="services-subtitle mb-4">{{ .subtitle | markdownify }}</h3>
          <p class="services-description mb-4">{{ .description | markdownify }}</p>
          <a href="{{ .button.url | absURL }}" class="btn btn-orange mb-4">{{ .button.label }}</a>
        </div>

      {{ end }}
    </div>
    <div class="row py-50">
      {{ with .Site.Data.homepage.service.perfect_solution }}
      <div class="col-sm-6 pt-sm-50 px-50">
        <h2 class="services-title mb-4">{{ .title | markdownify }}</h2>
        <h3 class="services-subtitle mb-4">{{ .subtitle | markdownify }}</h3>
        <p class="services-description mb-4">{{ .description | markdownify }}</p>
        <a href="{{ .button.url | absURL }}" class="btn btn-orange mb-4">{{ .button.label }}</a>
      </div>
      <div class="col-sm-6 bg-cover bg-services bg-cover d-flex justify-content-center flex-column" data-background="{{ .imgURL | absURL }}">
        <div class="overlay2-primary">
        </div>
        <img src="{{ .logoURL | absURL }}" loading = lazy alt="" class="service-logo-small">
      </div>

        {{ end }} -->
    </div>
  </div>
</section>
<!-- /service -->
{{ end }}
{{ if .Site.Data.homepage.vision.enable }}
<section class="py-50 bg-secondary">
  <div class="container">
    <div class="row align-items-center text-white justify-content-center">
      {{ with .Site.Data.homepage.vision }}
      <div class="col-sm-5 d-flex justify-content-center">
        <h1 class="section-title text-primary">{{ .title | markdownify }}</h1>
  
          <svg class="ml-5" width="70" height="70" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0L100 50L0 100V0Z" fill="#ffffff"/>
          </svg>
        
      </div>
      <div class="col-sm-7 px-50">
        <h4 class="big-description mt-5 text-white">{{ .subtitle1 | markdownify}}</h4>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ if .Site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}


{{ if .Site.Data.homepage.project.enable }}
<!-- project -->
<section class="section  bg-secondary">
  <div class="container">
    <div class="row">
      {{ with .Site.Data.homepage.project }}
      <div class="col-lg-10 mx-auto text-center">
        <h2 class="text-white">{{ .title | markdownify }}</h2>
        <hr class="orange-line mt-4">
      </div>
      {{ end }}
    </div>
    <div class="row py-4">
      {{ range first 3 (where  .Site.RegularPages "Section" "projects").ByDate.Reverse }}
        <div class="col-lg-4 col-sm-6 mt-5">
          {{- partial "card.html" . -}}
        </div>
      {{ end }}
    </div>
    <div class="row py-3">
      <div class="col-12">
        <a class="d-block mx-auto btn btn-orange" href="/projects/">VIEW MORE</a>
      </div>
    </div>
  </div>
</section>
<!-- /project -->
{{ end }}

<!-- testimonials -->
{{- partial "testimonials-slider.html" . }}

<!-- clients -->

{{- partial "clients-logo.html" . }}


{{ end }}