{{ define "main" }}

<!-- banner -->
{{ with .Site.Data.homepage.banner }}
<section class="banner bg-cover overlay position-relative h-100 d-flex justify-content-center align-items-center"
  data-background="{{ .bgImage | absURL }}">
  <video autoplay loop playsinline poster="{{ .bgImage | absURL }}">
    <source src="video/Showreel.mp4" type="video/mp4">
  </video>
  <div class="position-absolute">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-8 text-center">
          <h1 class="text-white hero-title">Showreel</h1>
          <h4 class="page-subtitle text-white  mb-5">4V Films is a full service, video production house with a wealth of global experience and knowledge of different industries - based in Copenhagen.</h4>
          <a class="nav-link btn btn-orange m-auto" href="#">LET'S TALK</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Video Header</h1>
        <p class="lead mb-0">With HTML5 Video and Bootstrap 4</p>
      </div>
    </div>
  </div> -->
</section>
{{ end }}
<!-- /banner -->
{{ if .Site.Data.homepage.vision.enable }}
<section class="py-50 bg-secondary">
  <div class="container">
    <div class="row align-items-center text-white justify-content-center">
      {{ with .Site.Data.homepage.vision }}
      <div class="col-sm-8 text-center">
        <h1 class="section-title text-white">{{ .title | markdownify }}</h1>
        <hr class="orange-line mt-4">
        <h4 class="big-description mt-5 text-white">{{ .subtitle1 | markdownify}}</h4>
        <h4 class="big-description text-white mt-5">{{ .subtitle2 | markdownify}}</h4>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ if .Site.Data.homepage.service.enable }}
<!-- service -->
<section class="section">
  <div class="container">
    <div class="row">
      {{ with .Site.Data.homepage.service }}
      <div class="col-lg-12 mx-auto text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <hr class="orange-line mt-4">
      </div>
      {{ end }}
    </div>
    <div class="row py-50">
      {{ with .Site.Data.homepage.service.fourv_films }}
        <div class="col-sm-6">
          <img src="#" alt="">
        </div>
        <div class="col-sm-6">
          <h2 class="services-title mb-4">{{ .title | markdownify }}</h2>
          <h3 class="services-subtitle mb-4">{{ .subtitle | markdownify }}</h3>
          <p class="services-description mb-4">{{ .description | markdownify }}</p>
          <a href="#" class="btn btn-blue mb-4">Read more</a>
        </div>
        {{ end }}
    </div>
    <div class="row py-50">
      {{ with .Site.Data.homepage.service.fourv_plus }}
        <div class="col-sm-6">
          <h2 class="services-title mb-4">{{ .title | markdownify }}</h2>
          <h3 class="services-subtitle mb-4">{{ .subtitle | markdownify }}</h3>
          <p class="services-description mb-4">{{ .description | markdownify }}</p>
          <a href="#" class="btn btn-blue mb-4">Read more</a>
        </div>
        <div class="col-sm-6">
          <img src="#" alt="">
        </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /service -->
{{ end }}

{{ if .Site.Data.homepage.feature.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <h2 class="section-title">Recent Projects</h2>
        <hr class="orange-line mt-4">
      </div>
    </div>
    <div class="row">
        {{range first 3 (where .Data.Pages "Section" "projects") }}
        {{- partial "card.html" . -}} 
        {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ if .Site.Data.homepage.promo.enable }}
<!-- promo video -->
{{ with .Site.Data.homepage.promo }}
<section class="section-lg position-relative bg-cover" data-background="'{{ .bgImage | absURL }}'">
  <img src="{{`images/backgrounds/about-bg-overlay.png` | absURL }}" alt="overlay" class="overlay-image img-fluid">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6 col-md-8 col-sm-7 col-8">
        <h2 class="text-white mb-4">{{ .title  | markdownify }}</h2>
        <p class="text-light mb-4">{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absURL }}" class="btn btn-primary">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
      <div class="col-md-2 col-sm-4 col-4 text-right align-self-end">
        <a class="venobox" data-autoplay="true" data-vbtype="video" href="{{ .videoURL | safeURL }}">
          <i
            class="text-center icon-sm icon-box rounded-circle text-white bg-gradient-primary d-block ti-control-play"></i>
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /promo video -->
{{ end }}

{{ if .Site.Data.homepage.project.enable }}
<!-- project -->
<section class="section  bg-secondary">
  <div class="container px-0">
    <div class="row">
      {{ with .Site.Data.homepage.project }}
      <div class="col-lg-10 mx-auto text-center">
        <h2 class="text-white">{{ .title | markdownify }}</h2>
        <hr class="orange-line mt-4">
      </div>
      {{ end }}
    </div>
    <div class="row py-4">
      {{ range (where  .Site.RegularPages "Section" "projects") }}
        <div class="col-lg-4 col-sm-6 mt-5">
          {{- partial "card.html" . -}}
        </div>
      {{ end }}
    </div>
    <div class="row py-3">
      <div class="col-12">
        <a class="d-block mx-auto btn btn-orange" href="#">VIEW MORE</a>
      </div>
    </div>
  </div>
</section>
<!-- /project -->
{{ end }}

{{ if .Site.Data.homepage.pricing.enable }}
<!-- pricing -->
<section class="section pb-0">
  <div class="container">
    <div class="row">
      {{ with .Site.Data.homepage.pricing }}
      <div class="col-lg-10 mx-auto text-center">
        <h2>{{ .title | markdownify }}</h2>
        <div class="section-border"></div>
      </div>
      {{ end }}
    </div>
    <div class="row">
      {{ range .Site.Data.pricing.pricingTable }}
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="card bottom-shape bg-secondary pt-4 pb-5">
          <div class="card-body text-center">
            <h4 class="text-white">{{ .title }}</h4>
            <p class="text-light mb-4">{{ .subtitle | markdownify }}</p>
            <p class="text-white mb-4">$ <span
                class="display-3 font-weight-bold vertical-align-middle">{{ .price }}</span></p>
            <ul class="list-unstyled mb-5">
              {{ range .serviceList }}
              <li class="text-white mb-3">{{ .service | markdownify }}</li>
              {{ end }}
            </ul>
            {{ with .button }}
            <a href="{{ .link | safeURL }}" class="btn btn-outline-light">{{ .label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /pricing -->
{{ end }}

{{ if .Site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}


<!-- testimonials -->
<section class="client section">
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto mb-5 text-center">
        <h2 class="section-title">Success Stories</h2>
        <hr class="orange-line mt-4">
      </div>
    </div>
    <div class="row">
      <div class="col-6  mb-5 ">
        <video controls width="100%" height="350">
          <source src="http://techslides.com/demos/sample-videos/small.ogv" type=video/ogg>
          <source src="/build/videos/arcnet.io(7-sec).mp4" type=video/mp4>
        </video>
      </div>
      <div class="col-6  mb-5 ">
        <video controls width="100%" height="350">
          <source src="http://techslides.com/demos/sample-videos/small.ogv" type=video/ogg>
          <source src="/build/videos/arcnet.io(7-sec).mp4" type=video/mp4>
        </video>
      </div>
      <div class="col-6  mb-5 ">
        <video controls width="100% "height="350">
          <source src="http://techslides.com/demos/sample-videos/small.ogv" type=video/ogg>
          <source src="/build/videos/arcnet.io(7-sec).mp4" type=video/mp4>
        </video>
      </div>
      <div class="col-6  mb-5 ">
        <video controls width="100%"height="350">
          <source src="http://techslides.com/demos/sample-videos/small.ogv" type=video/ogg>
          <source src="/build/videos/arcnet.io(7-sec).mp4" type=video/mp4>
        </video>
      </div>
    </div>
  </div>
</section>
<!-- client -->
<section class="client section bg-primary-light">
  <div class="container">
    <div class="col-12 mx-auto mb-5 text-center">
      <h2 class="section-title">Our Client</h2>
      <hr class="orange-line mt-4">
    </div>
    <div class="row my-5 justify-content-center">
      <div class="col">
        <img src="/images/clients/audi.png" alt="">
      </div>
      <div class="col">
        <img src="/images/clients/live.png" alt="">
      </div>
      <div class="col">
        <img src="/images/clients/bmw.png" alt="">
      </div>
      <div class="col">
        <img src="/images/clients/female-leadership.png" alt="">
      </div>
      <div class="col">
        <img src="/images/clients/bike-buddies.png" alt="">
      </div>
    </div>
    <div class="row my-5 justify-content-center">
      <div class="col">
        <img src="/images/clients/glostrup-park-hotel.png" alt="">
      </div>
      <div class="col">
        <img src="/images/clients/zealand.png" alt="">
      </div>
      <div class="col">
        <img src="/images/clients/cbs.png" alt="">
      </div>
      <div class="col">
        <img src="/images/clients/blue-lobster.png" alt="">
      </div>
      <div class="col">
        <img src="/images/clients/carlsberg.png" alt="">
      </div>
    </div>
  </div>
</section>

{{ end }}